
<div class="album mt-lg-4 pt-lg-4">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/checked.png') }}">
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ 'home.subinfo.desc1'|trans|raw }}</p>
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title1'|trans|raw }}</span> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/shield.png') }}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'home.subinfo.desc2'|trans|raw }}
                        </p>
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title2'|trans|raw }}</span> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/teamwork.png') }}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'home.subinfo.desc3'|trans|raw }}
                        </p>
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title3'|trans|raw }}</span> -->
                </div>
            </div>

        </div>
    </div>
</div>