
<div class="album mt-lg-4 pt-lg-4">
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/checked.png') }}">
                    </div>

                    <div class="card-body">
                        <p class="card-text">En quelques clics, vous accédez à une liste de prestataires pour organiser votre mariage.</p>
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title1'|trans|raw }}</span> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/shield.png') }}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                           Toutes les transactions sont sécurisées sur WeddingYourself. Vous ne payez qu'une fois la réservation confirmée.
                        </p>
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title2'|trans|raw }}</span> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="icon_center">
                        <img src="{{ asset('images/teamwork.png') }}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Grâce à nos Wedder, nous formons la plus grande communauté de prestataires et aux meilleurs prix.
                    </div>
                    <!-- <span class="link_bottom">{{ 'home.subinfo.title3'|trans|raw }}</span> -->
                </div>
            </div>

        </div>
    </div>
</div>