<div class="album mt-lg-4 pt-lg-4">
    <div class="container">
        <div class="row block_2 m-0 p-0">
            <h3 class="title_section">Top prestataires </h3>
            <style>
                h2 {
                    background-color: black;
                    color: blue;
                }
            </style>


            {% for a in categories %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 30px">
                <div class="hovereffect">
                    <img class="img-responsive" src="{{asset('images/'~ a.imageaccueil)}}" alt="{{a.texte}}">
                    <div class="overlay">
                        <h2>
                            {% if a.url is empty %}
                            <a href="{{path("categories", {"url": a.url})}}" class="bold text-white">{{a.ListingCategorieTranslation[0].name}}</a>
                            {% else %}
                            <a href="{{path("categories", {"url": a.url})}}" class="bold text-white">{{a.ListingCategorieTranslation[0].name}}</a>
                            {% endif %}
                        </h2>
                        <p class="info">{{a.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>