{% trans_default_domain 'cocorico' %}

{% if app.environment == 'dev'  %}
    <script type="text/javascript">
        var filename = "font-size: 1.5em; color: #519657; font-weight: bold; margin-top: 0.5em;";
        var filepath = "font-size: 1.2em; color: #81c784;";
        console.log("%cFile: %s", filename, '_new_footer.html.twig');
        console.log("%cPath: %s", filepath, 'CoreBundle/Resources/views/Frontend/Commun');
    </script>
{% endif %}

<style media="screen">

/* ICI COMMENCE LE CSS DU FOOTER POUR BOOTSTRAP 4 */
footer {
  padding: 60px 0;
}

footer .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #6c757d !important;
}
#footer h5{
padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
font-size:25px;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.social li:hover a i {
font-size:30px;
margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
color:#ffffff;
}
#footer ul.social li a:hover{
color:#eeeeee;
}
#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

#footer .colorwy {
  color: #F9F871;
}

#footer .fa {
  color: #F9F871;
}

/* ICI FINI LE CSS DU FOOTER POUR BOOTSTRAP 4 */
</style>

<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5 class="colorwy">A propos</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{{path("qui-sommes-nous")}}"><i class="fa fa-angle-double-right"></i>Qui sommes nous?</a></li>
						<li><a href="{{path("comment-ca-marche")}}"><i class="fa fa-angle-double-right"></i>Comment ça marche?</a></li>
						<li><a href="{{path("mentions-legales")}}"><i class="fa fa-angle-double-right"></i>Mentions légales</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5 class="colorwy">Actualité</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/blog"><i class="fa fa-angle-double-right"></i>Blog</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<h5 class="colorwy">Nous contacter</h5>
					<ul class="list-unstyled quick-links">
            <li><a href="mailto:contact@weddingyourself.fr"><i class="fa fa-envelope" aria-hidden="true"></i>contact@weddingyourself.fr </a></li>
            <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i> +330761414421</a></li>
					</ul>
				</div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <h5 class="colorwy">Suivez-nous sur</h5>
          <ul class="list-unstyled quick-links">
            <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/Weddingyourself/">Facebook</a></li>
            <li><i class="fa fa-instagram"></i> <a href="https://www.instagram.com/weddingyourself.fr/">Instagram</a></li>
            <li><i class="fa fa-youtube"></i> <a href="https://www.youtube.com/channel/UCdjcc-5hc75-Gw3wP2aykAQ">Youtube</a></li>
            <li><i class="fa fa-pinterest"></i> <a href="https://www.pinterest.fr/WeddingYourself1/_saved/">Pinterest</a></li>
          </ul>
        </div>
			</div>
      <hr>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://weddingyourself.fr/">Wedding Yourself</a></u> est une plateforme de mise en relation pour les clients désireux de réaliser eux-mêmes tous types d'événements (Mariages, anniversaires, baptêmes...).</p>
					<p class="h6">&copy; {{ "now"|date("Y") }} {{ 'footer.all_right_reserved'|trans }} <a class="text-green ml-2" href="">Wedding Yourself</a></p>
				</div>
				<hr>
			</div>
		</div>
	</footer>


 

    
	<!-- ./Footer -->

{#
<!-- bottom-container -->
<div class="bottom-container">
    <!-- footer-aside -->
    <aside class="aside-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- contact-info -->
                    <div class="contact-info pull-right">
                        <strong class="title">{{ 'footer.contact_us.title'|trans }}</strong>
                        <ul class="list-unstyled">

                            <li>
                                <a href="tel:{{ cocorico_phone|replace({'+': '', '(': '', ')': '', ' ': ''}) }}">
                                    <i class="icon-phone"></i>{{ cocorico_phone }}
                                </a>
                            </li>
                            <li>
                                <a href="mailto:{{ cocorico_contact_mail_obfuscated|raw }}">
                                    <i class="icon-mail-alt"></i>
                                    {{ cocorico_contact_mail_obfuscated|raw }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- navarea -->
                    <nav class="navarea">
                        <ul class="list-unstyled pull-left">
                            <li class="title">{{ 'footer.about.title'|trans }}</li>
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.who_we_are.slug'|trans }) }}">
                                    {{ 'footer.who_we_are.link'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.how_it_works.slug'|trans }) }}">
                                    {{ 'footer.how_it_works.link'|trans }}
                                </a>
                            </li>
                        </ul>
                        <ul class="list-unstyled pull-left">
                            <li class="title">{{ 'footer.help.title'|trans }}</li>
                            <li>
                                <a href="{{ path('cocorico_contact_new') }}">
                                    {{ 'footer.contact_us.link'|trans }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </aside>


    {{ render(controller('CocoricoCMSBundle:Frontend/Footer:index',{
        request: app.request
    })) }}

    <!-- footer of the page -->
    <footer id="footer" class="container text-center">
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('cocorico_page_show', { 'slug': 'nav.legal_notices.slug'|trans }) }}"
                   class="by pull-right">
                    {{ 'footer.legal_notices.link'|trans }}
                </a>

                <a href="http://www.cocolabs.io/fr/"
                   class="by pull-right credit" target="_blank">
                    <img src="{{ asset('images/marketplace-solutions.png') }}" width="45" height="15"
                         alt="creation marketplace">
                </a>

                <p>
                    &copy; {{ "now"|date("Y") }} {{ 'footer.all_right_reserved'|trans }}
                    <a href="{{ path('cocorico_home') }}">{{ cocorico_site_name }}</a>
                </p>
            </div>
        </div>
    </footer>
</div>
#}
