{% extends 'baseBackend.html.twig' %}

{% block title %}
	{{ parent() }}
	Galerie d'images

{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href={{asset("css/galerie.css")}}>
	<link rel="stylesheet" href={{asset("css/pagination.css")}}>

{% endblock %}


{% block contenu %}
	<style media="screen">
		.pagination > li > a {
			border-radius: 50% !important;
			margin: 0 5px;
		}

		.pagination {
			justify-content: center;
			margin-bottom: 20px;
		}

		.page-item.active .page-link {

			border-radius: 50% !important;
			margin: 0 5px;
			color: #fff;
			background-color: #cab437;
			border-color: #cab437;
		}

		.page-link {
			color: #cab437;
		}

		.page-link:hover {
			background-color: #cab437;
			color: #fff;
		}
	</style>


	<!-- Page Content -->
	<div class="container bodyblog">
		<form action="galerie" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneFrom"></form>

		<form action="galerie" name="formsupp" id="formsupp" method="POST">

			<div class="text-center">
				<p>
					<input type="button" onclick='selectAll()' value="Tout Sélectionner"/>
					<input type="button" onclick='unselectAll()' value="Tout Désélectionner"/>

					<button class="btn btn-success" type="submit" name="btn_delete" id="btn_delete">
						Supprimer les images
					</button>

				</p>

			</div>


			<div class="row">


				{% for image in imagePages %}
					<div class="col-md-4 ">
						<div class="card-content">
							<div class="card-img ">
								<center>
									<img src=" ../uploads/images/{{image.nom}} " id="{{image.id}}">
									<input type="checkbox" name="suppimgs[]" value="{{image.id}}">

								</center>

								<a href="{{path('galerie',{'supp':image.id})}}" class="confirm text-white">
									<span>
										<h4>

											<i class="fa fa-trash" aria-hidden="true" style="color: black"></i>
										</h4>
									</span>
								</a>
							</div>

						</div>
					</div>


				{% endfor %}
			


				<div style="width: 100%"></div>
			</div>
		</form>
			<nav>
					<ul
						class="pagination">
						<!-- Lien vers la page précédente (désactivé si on se trouve sur la 1ère page) -->
						<li class="page-item ">
							<a href="{{path('galerie',{'page':precedente})}}" class="page-link">
								&laquo;&nbsp;
							</a>
						</li>
					
						{% for page in 1 .. pages %}
					
							{% if page != pageActuelle %} 
							<!-- Lien vers chacune des pages (activé si on se trouve sur la page correspondante) -->
							<li class="page-item">
								<a href="{{path('galerie',{'page':page})}}" class="page-link">
									{{page}}
								</a>
							</li>
							{% else %}
							<li class="page-item active">
								<a href="{{path('galerie',{'page':page})}}" class="page-link">
									{{page}}
								</a>
							</li>
							{% endif %}
						{% endfor %}
						<!-- Lien vers la page suivante (désactivé si on se trouve sur la dernière page) -->
						<li class="page-item ">
							<a href="{{path('galerie',{'page':suivante})}}" class="page-link">
								&nbsp;&raquo;
							</a>
						</li>
					</ul>
				</nav>

	</div>

</div>


<!-- Mettre Widget Aussi-->
<div class="col-lg-4">
	{% block widget %}
	{% endblock %}
</div>

<script type="text/javascript" src="js/galerie.js"></script>
<!-- /.row --></div><!-- /.container --><!-- Fin corp du blog -->{% endblock %}
