{% extends 'baseBlog.html.twig' %}

{% block title %}
    {{ parent()}}
    le blog
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{asset("css/index.css")}}>
{% endblock %}

{% block contenu%}



<!-- Corp du blog -->


    <!-- details card section starts from here -->
        <section class="details-card"> <div class="container">
            <div class="row">
                <div class="col-xl-6 mx-auto text-center">
                    <div class="section-title mb-100">
                        <h4>Blog</h4>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-xl-6 mx-auto text-center marginsearchb">
                        <div class="section-title mb-100">
                            <form class="search" action="{{ path('rechercher_front') }}" method="post">
                                <div class="search__wrapper">
                                    <input type="text" name="test" placeholder="Recherche..." class="search__field" required>
                                    <button type="submit" class="fa fa-search search__icon"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <style media="screen">
                    .gallery {
                        margin-bottom: 20px;
                    }
                    .gallery-title
                    {
                        font-size: 36px;
                        color: #42B32F;
                        text-align: center;
                        font-weight: 500;
                        margin-bottom: 70px;
                    }
                    .gallery-title:after {
                        content: "";
                        position: absolute;
                        width: 7.5%;
                        left: 46.5%;
                        height: 45px;
                        border-bottom: 1px solid #5e5e5e;
                    }
                    .filter-button
                    {
                        font-size: 16px;
                        border: 1px solid #cab437;
                        background-color: #fff;
                        border-radius: 5px;
                        text-align: center;
                        color: #cab437 !important;
                        margin-bottom: 10px;

                    }
                    .filter-button:hover
                    {
                        font-size: 16px;
                        border: 1px solid #cab437;
                        border-radius: 5px;
                        text-align: center;
                        color: #ffffff !important;
                        background-color: #cab437;

                    }
                    .btn-default:active .filter-button:active
                    {
                        background-color: #42B32F;
                        color: white;
                    }

                </style>

                <div class="row">
                    <div class="gallery text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            {% for cat in categories %}
                                <a class="btn btn-default filter-button" href="{{path('articles_par_categorie_front',{'libelle':cat.libelle})}}">{{cat.libelle}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 text-center">
                        <div class="card-content">
                            <div class="card-img">
                            {% if article.image is null%}
                            <img src="https://cdn.pixabay.com/photo/2014/02/07/11/36/couple-260899_960_720.jpg" alt="">
                            {% else %}
                                {{article.image | raw}}
                            {%endif%}
                                <span>
                                    <h4>{{ article.categorie.libelle }}</h4>
                                </span>
                            </div>
                            <div class="card-desc">
                                <h3>{{ article.titre }}</h3>
                                <p>{{ article.extrait }}</p>
                                <a href="{{ path('article_show_front', {'url':article.url})}}" class="btn-card">Lire la suite</a>
								
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>



{% endblock %}

{% block widget %}{% endblock %}