<!-- Sidebar Widgets Column -->

<!-- Search Widget -->
<form action="{{ path('rechercher') }}" method="post">
<div class="card my-4">
	<h5 class="card-header">Recherche</h5>
	<div class="card-body">
		<div class="input-group">
			<input size="15" type="text" id="lonbox" name="test" value="" class="form-control" required>
			<span class="input-group-btn">
				<button class="btn btn-secondary">Go !</button>
			</span>
		</div>
	</div>
</div>
</form>

<!-- Archives Widget -->
	<div class="card my-3"> <h5 class="card-header">Articles récents</h5>
	<div class="card-body">
		<ul class="list-unstyled mb-0">
			{% for article in articles %}
				<li>
					<a href="{{path('article_show',{'url':article.url})}}">{{article.titre}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>

<!-- Categories Widget -->
<div class="card my-3">
	<h5 class="card-header">Catégories</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					{% for c in categories %}
						<li>
							<a href="{{path('articles_par_categorie',{'libelle':c.libelle})}}">{{c.libelle}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

		</div>
	</div>
</div>
